<div class="home-background">

  <div class="container home-container-f">
    <div class="row h-100">
      <div class="col-sm-12 align-self-center">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <h1>Hola, Bienvenido</h1>
            </div>
            <div class="card-text mt-4">
              <h6 class="">Inica sesión con tu cuenta de Outlook de la entidad para poder acceder a la herramienta</h6>
            </div>
<!--             <ul>
              <li>Crea reuniones</li>
              <li>Agrega los asistente</li>
              <li>Crea las tareas</li>
              <li>Delega las responsabilidades con Microsoft Planner</li>

            </ul> -->
            <div class="card-button d-flex justify-content-center mt-4">

            <%= link_to "Iniciar sesión", "/auth/microsoft_graph_auth", method: :post, class: "btn btn-primary btn-large text-centers mt-4" %>
            </div>
          </div>
          <div class="card-footer">
             Delega las tareas durante las reuniones de la Gobernación de Antioquia.
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
