@media (min-width: 600px) {
  .meet-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }
  .meeting-assistances .card {
    position: sticky;
    top: 40px;
  }
}
@media (max-width: 599px) {
  .meet-grid {
    display: block;
  }
}
